DISCORD_TOKEN=your_discord_bot_token_here
FULL_TIME_ANNOUNCEMENTS_CHANNEL_ID=the_announcements_channel_id_here
PROJECT_MANAGEMENT_CHANNEL_ID=the_project_management_channel_id_here
CLOCKIFY_API_KEY=your_clockify_api_key
CLOCKIFY_WORKSPACE_ID=your_clockify_workspace_id